<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<img src="pic.png" style="width:100%; height:300px;">
<p style="font-size: 20px; font-family: Times new roman;">A “state of matter” is a way to describe the behaviour of atoms and molecules in a substance. There are four states of matter which are gas, liquid, solid and plasma<p>

<h3>Menu</h3>

<ul class="menu">
            <li><a href="{{ url_for('gas') }}">Gas</a></li>
            <li><a href="{{ url_for('liquid') }}">Liquid</a></li>
            <li><a href="{{ url_for('solid') }}">Solid</a></li>
            <li><a href="{{ url_for('plasma') }}">Plasma</a></li>
            
          </ul>
</body>
</html>