<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>LIQUID</title>
</head>
<body>
	<img src="liq.jfif" style="width: 100%; height: 150px;">
<div class="def">
<h1>Liquid</h1>
<p>A liquid is a sample of matter that conforms to the shape of a container in which it is held, and which acquires a defined surface in the presence of gravity. The term liquid is also used in reference to the state, or condition, of matter having this property.</p>

<h3>Examples of liquid</h3>
<ul>
	<li>Water</li>
	<li>Milk</li>
	<li>Blood</li>
	<li>Urine</li>
	<li>Gasoline</li>
	<li>Wine</li>
	<li>Vineger</li>
	<li>Acetone</li>
</ul>
<h4>Menu</h4>

<ul class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('gas') }}">Gas</a></li>
            <li><a href="{{ url_for('solid') }}">Solid</a></li>
            <li><a href="{{ url_for('plasma') }}">Plasma</a></li>
            
          </ul>
</body>
</html>