<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<img src="plas.jfif" style="width:100%; height:150px ;">

<h1>Plasma</h1>
<p>Plasma is often called “the fourth state of matter,” along with solid, liquid and gas. Just as a liquid will boil, changing into a gas when energy is added, heating a gas will form a plasma – a soup of positively charged particles (ions) and negatively charged particles (electrons).</p>
<h3>Examples</h3>
<ul>
	<li>Lightning</li>
	<li>Aurorae</li>
	<li>Solar winds</li>
	<li>Welding arcs</li>
	<li>stars</li>
	<li>Tail of a comet</li>
	<li>Fireball of nuclear explosion</li>
	<li>Interstellar gas clouds</li>
</ul>
<h4>Menu</h4>
<ul class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('gas') }}">Gas</a></li>
            <li><a href="{{ url_for('liquid') }}">Liquid</a></li>
            <li><a href="{{ url_for('solid') }}">Solid</a></li>
            
          </ul>
</body>
</html>